/* Custom CSS for the navigation bar */
.custom-navbar {
    background-color: transparent;
    /* Make the background fully transparent */
    padding: 30px 0;
    /* Increase top and bottom padding to make it bigger */
    margin-top: 20px;
}

.custom-font {
    font-family: 'YourCustomFont', sans-serif;
    /* Specify your custom font here */
    color: rgb(0, 0, 0);
    /* Change the font color */
    font-size: 28px;
    /* Increase font size to make it bigger */
    border-bottom: 2px solid transparent;
    /* Initially, set a transparent border at the bottom */
    transition: border-bottom-color 0.3s;
}

.custom-font:hover {
    color: rgb(80, 79, 79);
    /* Change the font color on hover */
    border-bottom-color: rgb(56, 56, 56);
}

section {
    padding-top: 4vh;
    height: 98vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 800px;
    width: 800px;
    margin: auto 0;
    justify-content: center
}

.profile-pic{
    margin-right: 9rem;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__tex__p {
    font-weight: 600;
}

.section__text__p1 {
    font-size: 2rem;
    text-align: center; 
}

.section__text__p2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 5rem;
    text-align: center;
}

#social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 3rem;
    border-radius: 100%;
    border: rgb(53, 53, 53) 0.1rem solid;
}

.profile-pic {
    border-radius: 100%;
    width: auto;
    height: auto;
    
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;

}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;

}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;

}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;

}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
    border: rgb(53, 53, 53) 0.1rem solid;
    color: white;
}

.btn-color-2 {
    background: none;
}


.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.certs-sub-title{
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.cert-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.artical-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2.5rem;
}

.artical{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

a{
    text-decoration: none;
    color: black;
}

#projects{
    position: relative;
}

.color-container{
    border-color: rgb(163,163,163);
    background: rgb(255, 255, 255);
}

.project-img{
    margin-left: 1rem;
    border-radius: 2rem;
    width: 90%;
    height: 90%s    ;
}

.project-title{
    margin: 1rem;
    color: black;
}

.project-btn{
    color: black;
    border-color: rgb(163,163,163);
}

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163,163,163);
    background: rgb(255, 255, 255);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
}

.page-content{
    justify-content: center;
    text-align: start;
    align-items: center;
    border: 1px solid;
    width: 80rem;
    margin: auto;
    border-radius: 2rem;
    border-color: rgb(163,163,163);
    background: rgb(255, 255, 255);
}

.blog-content{
    margin: 60px;

}

.blog-pic{
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}